In [1]:
import pandas as pd
import numpy as np

<h1>IMPORTAR DATOS DESDE ABIERTOS.GOV.CO USANDO API SOCRATA</h1>

En la url https://www.datos.gov.co/ se selecciona el conjunto de datos y en exportar se da clic en la opci√≥n API
y se copia la URL que aparece como **Extremo de la API**, lo cual permite obtener la data en un archivo JSON.

In [14]:
url="https://www.datos.gov.co/resource/8hip-g468.json"
usuarios_acueducto = pd.read_json(url)

In [17]:
url="https://www.datos.gov.co/resource/hqpg-hau4.json"
usuarios_aseo = pd.read_json(url)

In [18]:
url="https://www.datos.gov.co/resource/dms6-exq8.json"
usuarios_alcantarillado = pd.read_json(url)

Para nuestro ejemplo hemos importado los datos de:
<ol>
<li>Usuarios Servicio de Acueducto por Mes, Uso y Estrato - Funza Cundinamarca</li>
<li>Usuarios Servicio de Aseo por Mes, Uso y Estrato - Funza Cundinamarca</li>
<li>Usuarios Servicio de Alcantarillado por Mes, Uso y Estrato - Funza Cundinamarca</li>   
<ol>

In [16]:
usuarios_acueducto.head()

   anio  mes              uso_estrato  cantidad_usuarios
0  2018    1  Residencial - Estrato 1               2950
1  2018    1  Residencial - Estrato 2               6660
2  2018    1  Residencial - Estrato 3              14518
3  2018    1  Residencial - Estrato 4                  3
4  2018    1               Industrial                516

In [19]:
usuarios_aseo.head()

   anio  mes              uso_estrato  cantidad_usuarios
0  2018    1  Residencial - Estrato 1               2926
1  2018    1  Residencial - Estrato 2               6681
2  2018    1  Residencial - Estrato 3              14538
3  2018    1  Residencial - Estrato 4                  2
4  2018    1               Industrial                503

In [20]:
usuarios_alcantarillado.head()

   anio  mes              uso_estrato  cantidad_usuarios
0  2018    1  Residencial - Estrato 1               2816
1  2018    1  Residencial - Estrato 2               6525
2  2018    1  Residencial - Estrato 3              14447
3  2018    1  Residencial - Estrato 4                  2
4  2018    1               Industrial                250